.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-20 {
  padding: 20px !important;
}

.plr-10 {
  padding: 0 10px !important;
}

.m-0 {
  margin: 0 !important;
}

.hidden {
  display: none !important;
}
