:root {
  --aqua: #22c1c3;
  --light-aqua: #86f5f7;
  --dark-aqua: #189496;
  --aqua-darkgrey: #628080;
  --aqua-lightgrey: #adcece;
  --blue: #2262c3;
  --yellow-orange: #fdbb2d;
  --light-yellow: #fad991;
  --yellow-darkgrey: #1b1a18;
  --box-shadow: 1px 4px 29px 10px rgba(26, 19, 5, 0.21);
}
