.header {
  background-color: var(--yellow-orange);
  box-shadow: 4px 1px 25px 10px rgba(26, 19, 5, 0.05);
  -webkit-box-shadow: 4px 1px 25px 10px rgba(26, 19, 5, 0.05);
  -moz-box-shadow: 4px 1px 25px 10px rgba(26, 19, 5, 0.05);
}

.header__heading {
  margin: 0;
  text-align: center;
  color: #fad991;
}
