.header {
  box-shadow: 4px 1px 25px 10px rgba(26, 19, 5, 0.5);
  -webkit-box-shadow: 4px 1px 25px 10px rgba(26, 19, 5, 0.08);
  -moz-box-shadow: 4px 1px 25px 10px rgba(26, 19, 5, 0.08);
}

.header__headline {
  margin: 0;
  text-align: center;
  color: #fad991;
}
