.header {
  background-color: var(--yellow-orange);
  box-shadow: 1px 4px 29px 10px rgba(26, 19, 5, 0.15);
  -webkit-box-shadow: 1px 4px 29px 10px rgba(26, 19, 5, 0.15);
  -moz-box-shadow: 1px 4px 29px 10px rgba(26, 19, 5, 0.15);
}

.header__heading {
  margin: 0;
  text-align: center;
  color: #fad991;
}
