:root {
  --aqua: #22c1c3;
  --light-aqua: #86f5f7;
  --aqua-darkgrey: #273030;
  --yellow-orange: #fdbb2d;
  --light-yellow: #fad991;
  --yellow-darkgrey: #1b1a18;
  --white-transparent: rgba(100, 100, 100, 0.5);
  --box-shadow: 1px 4px 29px 10px rgba(26, 19, 5, 0.21);
}
