<section class="quiz-card">
    <a href="" role="button" class="quiz-card__bookmark">
      <i class="fas fa-bookmark"></i>
    </a>
      <article class="quiz-card_text m-0">
        <h2 class="quiz-card__headline m-0">Question:</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Assumenda totam deserunt cupiditate alias consequuntur dolorem
          cumque modi voluptatum. Repellat voluptatibus culpa esse? &nbsp;
        </p>
        <button class="quiz-card__btn p-5">Show Answer</button>
        <ul class="quiz-card__tag-list p-10">
          <li class="p-5">Answer A</li>
          <li class="p-5">Answer B</li>
          <li class="p-5">Answer C</li>
          <li class="p-5">Anser D</li>
        </ul>
      </article>
    </i>
  </section>
  <section class="quiz-card">
    <article></article>
  </section>
  <section class="quiz-card">
    <article></article>
  </section>
  <section class="quiz-card">
    <article></article>
  </section>