.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--aqua);
  box-shadow: 1px 4px 29px 10px rgba(4, 23, 24, 0.15);
  -webkit-box-shadow: 1px 4px 29px 10px rgba(4, 23, 24, 0.15);
  -moz-box-shadow: 1px 4px 29px 10px rgba(4, 23, 24, 0.15);
}

.navigation__icon {
  align-items: center;
  color: var(--light-aqua);
  text-decoration: none;
  font-size: 25px;
  height: 30px;
  width: 100%;
  text-align: center;
}

.navigation__icon--active {
  color: var(--dark-aqua);
}
