<div class="grid-wrapper">
    <section class="profile-card profile-card__pic p-0">
      <img src="../src/assets/placeholder.png" alt="" width="300" height="200">
  </section>
  <section class="profile-card profile-card__name">
    Polly Placeholder
</section>
  <section class="profile-card">
    <h2 class="profile-card__headline m-0 mb-15">About me</p></h2>
<p class="m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus recusandae at non optio consequatur, voluptas perspiciatis accusantium obcaecati aliquid velit est quidem, neque atque! Harum vel unde assumenda repellat fugiat.</p>
</section>
</div>
<section class="profile-card">
<h2 class="profile-card__headline m-0 mb-15">Skills</h2>
    <ul class="profile-card__tag-list m-0">
      <li class="profile-card__tag-list--longanswer">motivated</li>
      <li class="profile-card__tag-list--longanswer">ready to help</li>
      <li class="profile-card__tag-list--longanswer">responsible</li>
      <li class="profile-card__tag-list--longanswer">mindful</li>
      <li class="profile-card__tag-list--longanswer">able to deal with conflicts</li>
    </ul>
  </section>
  <section class="profile-card">
    <button class="p-15">Switch to Darkmode</button>
    <button class="p-15">Logout</button>
  </section>
  </main>