.quiz-card {
  border-radius: 15px;
  padding: 25px;
  margin: 20px;
  background-color: white;
  opacity: 0.6;
  box-shadow: var(--box-shadow);
  position: relative;
  font-weight: 200;
}

.quiz-card__headline {
  font-size: 1em;
}

.quiz-card__bookmark {
  position: absolute;
  height: 30px;
  width: 0;
  right: 35px;
  top: -15px;
  font-size: 30px;
  color: var(--aqua);

  /* Try Jerry's bookmark in CSS only
  border: 15px solid var(--aqua);
  border-bottom-color: transparent; */
}

.quiz-card__tag-list {
  margin: 0 0 3px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quiz-card__tag-list li {
  background-color: var(--aqua);
  box-shadow: 2px 2px 6px var(--box-shadow);
  list-style-type: none;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 48%;
  text-align: center;
  font-weight: 200;
}
